RewriteEngine On

# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Otherwise forward it to index.php
RewriteRule . /index.php
DirectoryIndex /index.php